<!--
Mission :

1. view
    def post_add(request)

2. url
    post/add/, name='post_add'

3. 상기 조건에 맞게 view와 url을 작성한 다음,
    post-add.html이랑 연결을 해보자.

4. post_list.html에서 'Write Post' 버튼을 만들고,
 해당 버튼에 post_add로 가는 링크 생성
-->

{% extends 'blog/base.html' %}

{% block subtitle %}Post add{% endblock %}

{% block content %}
<a href="{% url 'post_list' %}">Back To List</a>

<form action="">
    <fieldset>
        <legend>Add post</legend>
        <div>
            <label for="">Title</label>
            <input name="title" type="text">
        </div>
        <div>
            <label for="">Content</label>
            <textarea name="content" id="" cols=30" rows="10"></textarea>
         </div>
        <button type="submit">Write Post</button>
    </fieldset>
</form>
{% endblock %}
