<!--
Mission :

1. view
    def post_add(request)

2. url
    post/add/, name='post_add'

3. 상기 조건에 맞게 view와 url을 작성한 다음,
    post-add.html이랑 연결을 해보자.

4. post_list.html에서 'Write Post' 버튼을 만들고,
 해당 버튼에 post_add로 가는 링크 생성
-->

{% extends 'blog/base.html' %}

{% block subtitle %}Post add{% endblock %}

{% block content %}
<a href="{% url 'post_list' %}">Back To List</a>

<!--form을 통해 어떤 데이터를 서버로 보낼 때,-->
<!--현재 페이지가 이전에 요청했던 페이지가 맞다라는 인증이 필요한데,-->
<!--가장 기초적인 보안 요소가 csrf이다.-->
<!--이전에 페이지를 보낼 때, 페이지에 대한 고유값도 같이 보낸다.-->
<!--그러면, 다음 번에 페이지를 요청할 때, 이전에 보냈던 해당 고유값을 확인하여,-->
<!--이전 페이지를 요청했던 사람과 다음 번에 요청한 사람이 동일인인지를 판단한다. -->
<!--예) 구매 사이트-->
<form action="" method="POST">{% csrf_token %}
    <fieldset>
        <legend>Add post</legend>

        {% for field in forms %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        <button type="submit">Write Post</button>
    </fieldset>
</form>
{% endblock %}
